body
{
font-family: Garamond;
background-color: white;
}
.ge_logo{
display: inline-block;
margin-left: auto;
margin-right: auto;
width: 50;
height: 50;
float:left;
padding: 5px;

}
.center{
 
display: inline-block;
margin-left: auto;
margin-right: auto;
width: 50;
height: 50;
float:left;
padding: 5px;
}
h2
{
color: blue;
margin-bottom: 0;
margin-top: 0;
text-align: center;
font-size: 30;
float:center;
}
h3
{
color: white;
font-size: 20px;
margin-top: 3px;
text-align: center;
}
#chatbox
{
background-color: white;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 60px;
}
#userInput {
background-color: white;
margin-left: auto;
margin-right: auto;
width: 40%;
margin-top: 60px;
}
#textInput {
background-color: white;
width: 90%;
border: none;
border-bottom: 3px solid; #009688;
font-family: monospace;
font-size: 17px;
}
#buttonInput {
background-color: green;
padding: 3px;
font-family: monospace;
font-size: 17px;
}
.userText {
color: black;
font-family: monospace;
font-size: 17px;
text-align: right;
line-height: 30px;
}
.userText span {
background-color: #F7DC6F; #F4D03F; # #009688;
padding: 10px;
border-radius: 2px;
}
.botText {
color: white;
font-family: monospace;
font-size: 17px;
text-align: left;
line-height: 30px;
}
.botText span {
background-color: #5DADE2; #48C9B0; #EF5350;
padding: 10px;
border-radius: 2px;
}
#tidbit {
position:absolute;
bottom:0;
right:0;
width: 300px;
}
